.content, .actions {
    margin-top: 30px;
    width: 90vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.actions > * {
    margin: 0 20px 0 20px
}

.item {
    width: 100%;
}
