.content {}

#createNew {
    width: 100%;
}

.item {
    margin: 10px 0;
    padding: 10px;

    background-color: #6b8a8a;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.colorWrapper {
    border: 2px solid #273535;
    border-radius: 5px;
}

.item > div {
    width: 100%;
}

.item > div > span {
    font-size: 20pt;
}

.item > div > input {
    margin: 5px 0;
}

.item > div > input[type="color"] {
    border: none;
    padding: 0;
    height: 50px;
    cursor: pointer;
    opacity: 0;
}

.item > div > input[type="color"],
.item > div > input[type="range"] {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    background-color: #90a1a1;
    border-radius: 10px;
    height: 20px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #273535;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 5px solid #97caca;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
